<!-- Contenido principal -->
<div class="content flex-grow-1 p-4">
    <header class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3">Profesor: Juan Ramírez Benítez</h1>
    </header>
    
    <!-- Fila de la tutoría -->
    <div class="mb-3">
        <a href="javascript:void(0)" class="text-secondary text-decoration-underline d-block">Tienes una tutoría el día 27/01/2024 a las 12:30h</a>
    </div>
    
    <!-- Fila de Actividades -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="strong">Actividades</h3>
        <button type="button" class="btn btn-warning">Nueva actividad</button>
    </div>
    
    <!-- Fila de "Mentoring: Resiliencia" con su imagen -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Mentoring: Resiliencia</h4>
        <img src="assets/Imagen.jpg" alt="Imagen" class="img-fluid" style="width: 20vw; height: auto;"/>
    </div>
    
    <!-- Fila de "Publicada" -->
    <div class="mb-3">
        <p>Publicada</p>
    </div>
    
    <!-- Fila de "Mentoring: Trabajo en equipo" con su imagen -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Mentoring: Trabajo en equipo</h4>
        <img src="assets/Imagen2.jpg" alt="Imagen" class="img-fluid" style="width: 20vw; height: auto;"/>
    </div>
    
    <!-- Fila de "Publicada" -->
    <div class="mb-3">
        <p>Publicada</p>
    </div>
</div>