<!-- Contenido principal -->
<div class="content flex-grow-1 p-4">
    <div class="d-flex justify-content-between mb-3">
        <h1 class="h3">Emprendimiento</h1>
        <button class="btn btn-warning">Nueva actividad</button>
    </div>
    <div class="actividad mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4>Actividad: xxxxxx</h4>
            <p>Publicada</p>
        </div>
        <img src="assets/Imagen.jpg" alt="Imagen" class="img-fluid" style="width: 20vw; height: auto;"/>
    </div>
    <div class="actividad mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4>Actividad: xxxxxx</h4>
            <p>Publicada</p>
        </div>
        <img src="assets/Imagen2.jpg" alt="Imagen" class="img-fluid" style="width: 20vw; height: auto;"/>
    </div>
</div>