<div class="MenuLateral bg-light p-4 d-flex flex-column w-20">
    <ul class="nav flex-column" data-bs-theme="light">
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/inicio']"><div>Inicio</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/mentoring']"><div>Mentoring</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/emprendimiento']"><div>Emprendimiento</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/competencias-digitales']"><div>Competencias digitales</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/tutorias']"><div>Tutorías</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/mensajes']"><div>Mensajes</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" [routerLink]="['/perfil']"><div>Perfil</div></a></li>
      <li class="nav-item"><a class="nav-link text-dark" href="#"><div>Cerrar sesión</div></a></li>
    </ul>
  </div>
  