<!-- Contenido principal -->
<div class="content flex-grow-1 p-4">
    <div class="d-flex justify-content-between mb-3">
        <h1 class="h3">Competencias digitales</h1>
        <button class="btn btn-warning">Nueva actividad</button>
    </div>
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <h4>Actividad: Office365</h4>
        <img src="assets/Imagen.jpg" alt="Imagen" class="img-fluid" style="width: 20vw; height: auto;"/>
    </div>
    <div class="mb-3 text-start">
        <p class="mb-0">Publicada</p>
    </div>
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <h4>Actividad: Seguridad digital</h4>
        <img src="assets/Imagen2.jpg" alt="Imagen" class="img-fluid" style="width: 20vw; height: auto;"/>
    </div>
    <div class="mb-3 text-start">
        <p class="mb-0">Publicada</p>
    </div>
</div>