<div class="container">
    <h2>Competencias Digitales</h2>
    
    <button (click)="mostrarCompetencia()">Nueva actividad</button>
    
    <div id="mensaje" class="mensaje-container" style="display: none;">
      <h3>Enviar Mensaje</h3>
      <form (submit)="enviarMensaje($event)">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" required />
        
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" required></textarea>

        <label for="estado">Estado</label>
        <select id="estado">
          <option value="pendiente">Pendiente</option>
          <option value="en progreso">En progreso</option>
          <option value="finalizado">Finalizado</option>
        </select>
        
        <button type="submit">Enviar</button>
        <button type="button" (click)="cerrarCompetencia()">Cerrar</button>
      </form>
      </div>
      <div id="listaMensajes">
        <section id="listaMensajes">

        </section>
    </div>
  </div>
  