<div class="auth-container">
  <mat-card>
    <mat-card-title>Forgot Password?</mat-card-title>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onResetPassword()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">
          Valid email required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
        Reset Password
      </button>
    </form>

    <a routerLink="/login">Back to Login</a>
  </mat-card>
</div>
