<!-- Contenido principal -->
<div class="content flex-grow-1 p-4">
    <h1 class="fw-bold mb-4 h3">Perfil del usuario</h1>
    <div class="card p-4 bg-light border-0">
        <div class="mb-3">
            <p class="fw-bold mb-1">Nombre:</p>
            <p class="mb-0">Juan Ramírez Benítez</p>
        </div>
        <div class="mb-3">
            <p class="fw-bold mb-1">Correo electrónico:</p>
            <p class="mb-0">juan.ramirezapro2fp.es</p>
        </div>
        <div class="mb-3">
            <p class="fw-bold mb-1">Teléfono:</p>
            <p class="mb-0">+34 600 123 456</p>
        </div>
        <div class="mb-3">
            <p class="fw-bold mb-1">Rol:</p>
            <p class="mb-0">Profesor</p>
        </div>
    </div>
</div>