<!-- Contenido principal -->
<div class="Mensajeria">
    <main>
        <header>
            <h1>Mensajería</h1>
            <button (click)="abrirMensaje()">Nuevo mensaje</button>
        </header>

        <!-- Ventana para escribir mensaje -->
        <div id="mensaje"  *ngIf="mensajeAbierto">
            <form [formGroup]="mensajeForm" (ngSubmit)="enviarMensaje()" method="post">
                <div>
                    <span (click)="cerrarMensaje()">[X]</span>
                    <h3>Nuevo mensaje</h3>
                    <input id="email" formControlName="email" type="email" autocomplete="email" placeholder="Para..." required>
                    <br>
                    <input id="asunto" formControlName="asunto"type="text" placeholder="Asunto">
                    <br>
                    <textarea id="contenido" formControlName="contenido"placeholder="Escribe tu mensaje aquí..." rows="5"></textarea>
                    <br>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
       
        <!-- Lista de mensajes -->
        <div class="listaMensajes">
            <section id="listaMensajes"></section>
        </div>
    </main>
</div>
